server {
  listen   80;
  server_name  <%= node['hostname'] %>;

  access_log  <%= node['nginx']['log_dir'] %>/localhost.access.log;

  location / {
    root   /vagrant/webroot;
    index  index.php index.html index.htm;
  }

  location ~ \.php$ {
    root   /vagrant/webroot;
    try_files $uri =404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass 127.0.0.1:9000;
    fastcgi_index index.php;
    include fastcgi_params;
	}
}
